/*DEVELOPER: Eugene Amparbeng, IS117-002, Spring, 2023 */
body {
    background: #2f323b;
    font-family: 'Roboto', sans-serif;
    color: #949ba2;
    font-size: 14px;
    line-height: 1.42857143;
}
div {
    display: block;
}
.navbar {
    min-height: 60px;
}
.navbar-default {
    border-bottom: none;
    background: linear-gradient(#0c104B 95%, #0C104B);
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
.navbar-header {
    float: left;
}
#mobile-menu {
    float: right;
    display: none;
}
#mobile-menu .left-nav-toggle {
    padding-right: 25px;
}
.left-nav-toggle {
    float: left;
    padding: 9px 10px 8px 25px;
}
.left-nav-toggle a {
    font-size: 30px;
    color: #F2F2F2;
}
i {
    font-family: 'stroke', serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}
.navbar-default .navbar-brand {
    color: #FFFFFF;
}
.navbar-brand > img {
    display: block;
}
img {
    vertical-align: middle;
}
img {
    border: 0px;
}
.site-title {
    font-weight: 300;
    letter-spacing: 0.0em;
    color: #fff;
    font-size: 24px;
    margin-top: 0.6em;
    text-align: center;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}
.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
.site-title {
    font-weight: 300;
    letter-spacing: 0.0em;
    color: #fff;
    font-size: 24px;
    margin-top: 0.6em;
    text-align: center;
}
.navigation {
    margin-top: 60px;
    background-color: #24262d;
    width: 200px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.luna-nav.nav {
    padding-top: 15px;
}