body {
    background: #2f323b;
    font-family: 'Roboto', sans-serif;
    color: #949ba2;
}
.navbar-default {
    border-bottom: none;
    background: linear-gradient(#0c104B 95%, #0C104B);
}
.navbar {
    min-height: 10px;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
.navbar-header {
    float: left;
}
.navbar-brand > img {
    display: block;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.site-title {
    font-weight: 300;
    letter-spacing: 0.0em;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-left: 30px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 50px;
}
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigation {
    margin-top: 110px;
    background-color: #24262d;
    width: 200px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
}
.navigation nav {
    background-color: #2a2d35;
}
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0 10px;
}
.active {
    background-color: #24262d;
    color: white;
}
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}
.arrow{
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    float: right;
    padding-right: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.content {
    margin-top: 60px;
    margin-left: 200px;
    position: relative;
    padding: 30px;
}
#main_splash {
    text-align: center;
    margin: -100px -45px 0 -45px;
    background-image: linear-gradient(#0C104B 30%, #8789AE);
    padding-top: 100px;
}
.splash_headline {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 44px;
}
small, .small {
    font-size: 65%;
}
a {
    color: #d2dae2;
    text-decoration: none;
    background-color: transparent;
}
.btn-primary {

    background-color: transparent;
    border-color: #0f83c9;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
img {
    vertical-align: middle;
}
.col-md-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.panel {
    background-color: transparent;
    box-shadow: none;
    color: #d2dae2;
    border-radius: 3px;
}
.panel.panel-filled {
    background-color: rgb(67, 72, 86);
}
.panel > .panel-heading {
    color: #ffffff;
    background-color: #6a7083;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid #9FA1BE;
}
.panel.panel-filled .panel-body {
    padding-top: 10px;
}
.panel .panel-body {
    padding: 5px 15px 15px 15px;
}
.view-header {
    margin: 20px 0;
    min-height: 50px;
    padding: 0 15px;
}
.view-header .header-icon {
    font-size: 60px;
    color: #9FA1BE;
    width: 68px;
    float: left;
    margin-top: 8px;
    line-height: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.c-white{
    color: #FFFFFF;
}
.footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
}

.footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}

.footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}

.footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-clean ul a:hover {
    opacity:1;
}

.footer-clean .item.social {
    text-align:right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align:center;
        padding-bottom:20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align:center;
    }
}
.footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
}
.footer-clean .item.social > a:hover {
    opacity:0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social > a {
        margin-top:40px;
    }
}
@media (max-width:767px) {
    .footer-clean .item.social > a {
        margin-top:10px;
    }
}
.footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
}
.view-header .header-title {
    margin-left: 68px;
}
 h4 {
    color: #FFFFFF;
     margin-top: 10px;
     margin-bottom: 10px;
}