body {
    background: #2f323b;
    font-family: 'Roboto', sans-serif;
    color: #949ba2;
}
.navbar-default {
    border-bottom: none;
    background: linear-gradient(#0c104B 95%, #0C104B);
}
.navbar {
    min-height: 10px;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-header {
    float: left;
}
.navbar-brand > img {
    display: block;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.site-title {
    font-weight: 300;
    letter-spacing: 0.0em;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-left: 30px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
